node_modules
out
media/*.js
media/webview.css
*.vsix
*.zip

# allow tracking webview entrypoints
*.log
*.txt
dist
.vscode-test/
sample-workspace/
.sfdx/
.sf/
media/*.js.map
src/**/*.js
src/**/*.js.map
apexlogs/
