.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
out/**
sample-workspace/**
node_modules/**
scripts/**
esbuild.js
package-lock.json
.*
.github/**
.husky/**
